{%extends 'new_app/base.html'%}
{%block body_block%}
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to registration page</h1>
        {%if registered%}
        <h1>Ok,You have registered Kindly log in</h1>
        {%else%}
        <h2>Register now</h2>
        <form method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            {{user_form.as_p}}
            {{profile_form.as_p}}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        
        {%endif%}
    </div>

</div>
{%endblock%}